@{ ViewData["Title"] = "Blog"; }


    <!-- breadcrumb area start -->
    <div class="breadcrumb-area mb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog grid full width</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

   <!-- blog wrapper start -->
   <div class="blog-area-wrapper pt-30 pb-65">
       <div class="container-fluid">
           <div class="row">
               <div class="col-lg-12">
                   <div class="blog-wrapper-inner column5">
                       <div class="row">
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog5.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog6.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog5.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog6.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="single-blogg-item mb-30">
                                    <div class="blogg-thumb">
                                        <a href="@Url.Action("Blog", "Home")">
                                            <img src="~/assets/img/blog/blog5.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blogg-content">
                                        <span class="post-date">20 oct 2019</span>
                                        <h5><a href="@Url.Action("Blog", "Home")">London Fashion Week 360° Candy Rock & Royal Fashion Day</a></h5>
                                        <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                    </div>
                                </div>
                            </div>
                       </div>
                   </div>
                   <div class="paginatoin-area text-center pt-40">
                        <div class="row">
                            <div class="col-12">
                                <ul class="pagination-box">
                                    <li><a class="Previous" href="#">Previous</a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li>
                                      <a class="Next" href="#"> Next </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- blog wrapper end -->

    <!-- scroll to top -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div> <!-- /End Scroll to Top -->

    
